.container {  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 25% 100% 25%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "image-side text-top text-top"
    "image-side image-center text-rigth"
    "footer-text footer-text text-rigth";
  height: 50%;
}

.text-top { grid-area: text-top; }

.image-side { grid-area: image-side; }

.image-center { grid-area: image-center; }

.footer-text { grid-area: footer-text; }

.text-rigth { grid-area: text-rigth; }
