.text2 {
color:blue;
display: inline-block;
user-select: none;
}

.text3 {
color:rgb(90, 128, 0);
background:black;
font-weight: bold;
display: inline-block;
user-select: none;

    }

.new {
        display: inline-block;
        user-select: none;

    }
