p {text-align: center}
.container {  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 25% 100% 25%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "image-side text-top text-top"
    "image-side image-center text-rigth"
    "footer-text footer-text text-rigth";
  height: 50%;
}



.text-top { grid-area: text-top; background-color: #78d7f3;}

.image-side { grid-area: image-side; }

.image-center { grid-area: image-center; }

.footer-text { grid-area: footer-text;background-color: #f7e2b0; }

.text-rigth { grid-area: text-rigth; background-color: #ee8bf7; }
